

<h3>Task: <%= @task.name %></h3><br>
<b>Contractor: </b> <%=@task.contractor.name%><br>

<div class="button-row">
<%= button_to "Edit", edit_task_path(@task), :method => :get, class: 'button' %>  
<%= button_to "Delete", delete_task_path(@task), :method => :get, class: 'button' %>
</div>