
<h2><b>User:  </b> <%=@user.name%></h2>
<b>Joined :</b> <%=@user.created_at%><br>
<br>
You currently have <%=@user.homes.count%> home(s)<%= button_to "Your Homes", homes_path, :method => :get, class:'button'%> 
