<h3>Projects:</h3>
<% @projects.each do |project| %>
    <div class=".long-table-entry">
      <%= project.name %>
      <%= link_to "View #{project.name}", project_path(project) %><br>
    </div>
    <hr>
  <% end %>