<h1>This is Projects show</h1>

<h3><%= @project.name %></h3><br>

<%= collection_select(:contractor, :name, Contractor.all, :name, :name, prompt: "Please select your Contractor from this dropdown") %>
