<h1>This is Contractors show</h1>

<h3><%= @contractor.name %></h3><br>

Name: <%= @contractor.name %><br>
Email: <%= @contractor.email %><br>
<%= button_to "Delete",
          :back,
          method: :delete,
          :params :id,
          confirm: "Are you sure you'd like to delete this contractor?",
          disable_with: "Deleting..."%>