<div>
    <div style="display: flex; background-color: #ccebff;justify-content: center; height:500px;">
        <div style="width:400px">
            <div style="padding-top:250px;text-align: center;font-size:28px; font-family:'Arial'">Welcome to <b>Flippendo!</b></div>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            style="width:500px; height:400px; padding-top: 50px;">
        </div>
    </div>
</div>